# Monorepo packages
-e api      # Corresponds to the api folder
-e utils    # Corresponds to the utils folder

# Dependencies
# e.g. returns >= 0.19.0

# Dev Dependencies
# pytest >= 7.2.1

# Build dependencies that are needed to build this project
build
setuptools
setuptools-scm
wheel